*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  background: linear-gradient(32deg, rgb(174, 174, 231), rgb(243, 173, 173));
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 100;
  overflow-x: hidden;
}
